.contenor-1 {
  width: 90px;

  color: #fc6b3f;
  text-align: center;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contenor-2 {
  width: 550px;
  flex-shrink: 0;
}

.contenor-3 {
  width: 90px;

  color: #fff;
  text-align: center;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
