.productspage {
  width: 100%;
  height: auto;
}

.productspage .product-frame {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  /* background: rgb(238, 238, 238); */

  background: linear-gradient(
    180deg,
    rgba(255, 246, 218, 0) 0%,
    #fff6da 69.79%
  );
  background-size: cover;
}

.productspage .product-frame .main {
  margin-top: 60px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productspage .product-frame .main .top-title-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.productspage .product-frame .top-title-input .title {
  font-family: " Roboto Serif";
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;

  color: rgb(52, 52, 52);
}

.productspage .product-frame .top-title-input .input-butt-box {
  margin-left: 17%;
  width: 360px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-radius: 18.5px;
  box-shadow: 0px 4px 4px 0px rgba(213, 213, 213, 0.25);
  background: rgb(255, 252, 252);
}

.productspage .product-frame .input-butt-box .searching-button {
  width: 106px;
  height: 40px;
  border-radius: 18.5px;

  background: rgb(52, 52, 52);
}

.productspage .product-frame .product-butt-img {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.productspage .product-frame .product-butt-img .top-butt-box {
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.productspage .product-frame .product-butt-img .butt-swiper-box {
  margin-top: 40px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.productspage .product-frame .butt-swiper-box .left-butt-box {
  margin-top: 60px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productspage .product-frame .left-butt-box .rotate {
  transform: rotateZ(-0.25turn);
}

.productspage .product-frame .butt-swiper-box .wrap-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.productspage .product-frame .product-img-box .full-img-box {
  width: 273px;
  height: 361px;
}

.productspage .product-frame .full-img-box .image-box {
  width: 100%;
  height: 245px;
  border-radius: 0px 50px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #f1ecdb;
}

.productspage .product-frame .full-img-box .product-sale {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  z-index: 100;
  width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff9200;
  box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 21px;
  color: #f8f8ff;
}

.productspage .product-frame .full-img-box .image-box .view-basket-box {
  margin-top: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.productspage .product-frame .view-basket-box .shop-basket {
  margin-right: 30px;
  margin-left: 30%;
  width: 64px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgb(198 0 255 / 66%);
  border: 2px solid #d7b686;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  color: #f8f8ff;
}

.productspage .product-frame .image-box:hover {
  opacity: 0.8;
}

.productspage .product-frame .image-box:hover .shop-basket {
  opacity: 1;
}

.productspage .product-frame .image-box:hover .view-bnt {
  opacity: 1;
}

.productspage .product-frame .view-basket-box .view-bnt {
  width: 35px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.productspage .product-frame .imgage-title-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.productspage .product-frame .imgage-title-box .prd-name {
  margin-top: 5px;

  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: rgb(52, 52, 52);
}

.productspage .product-frame .imgage-title-box .product-cost {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Poppins";
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(227, 192, 141);
}

.productspage .product-frame .main .pagination {
  margin-bottom: 50px;
}

.productspage .product-frame .main .pagination .pagination-num .Mui-selected {
  background: #fc6b3f;
  color: #fff;
}

.productspage
  .product-frame
  .main
  .pagination
  .pagination-num
  .MuiPaginationItem-root {
  font-size: 17px;
}
/* ===================== */
.productspage .product-frame .main-burak-box {
  margin-top: 80px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productspage .product-frame .main-burak-box .first-box {
  width: 87px;
  height: 54px;
  flex-shrink: 0;
  background: url("/public/img/avatar.png") 0px -17.328px / 100% 165.672% no-repeat;
}

.productspage .product-frame .main-burak-box .second-box {
  margin-top: 25px;
  color: #000;
  text-align: center;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.productspage .product-frame .main-burak-box .second-box .second-box-span {
  color: #fc6b3f;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.productspage .product-frame .main-burak-box .third-box {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.productspage .product-frame .main-burak-box .third-box-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 570px;
  height: 270px;
  background: #fff;
  box-shadow: 0 0 18px -11px #000;
}

.productspage .product-frame .main-burak-box .third-box-box .third-text-box {
  margin-top: 20px;
  width: 437.855px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.productspage .product-frame .main-burak-box .third-box-box-in {
  margin-right: 45%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.productspage .product-frame .main-burak-box .third-box-box-in .anna-name {
  width: 108.478px;
  height: 15.531px;
  flex-shrink: 0;
  color: #727272;
  text-align: center;
  font-family: "DM Sans";
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.productspage
  .product-frame
  .main-burak-box
  .third-box-box-in
  .third-box-in-img
  img {
  width: 105px;
  height: 102px;
  flex-shrink: 0;
}

.productspage .product-frame .main-burak-box .third-box-boxs {
  width: 570px;
  height: 270px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0 0 18px -11px #000;
}
.productspage .product-frame .main-burak-box .button-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productspage .product-frame .main-burak-box .buttom-first img {
  margin-top: 40px;
  width: 400.16px;
  height: 400.423px;
  flex-shrink: 0;
}

.productspage .product-frame .main-burak-box .buttom-second {
  margin-top: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 70px;
  flex-shrink: 0;

  border-radius: 9px;
  background: #fc6b3f;
  color: #fff6da;
  font-family: "Bebas Neue";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.productspage .product-frame .main-burak-box .button-sections {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productspage .product-frame .button-sections .buttom-first img {
  width: 88px;
  height: 88px;
  flex-shrink: 0;
}

.productspage .product-frame .button-sections .enterBoxes .enter-box {
  width: 664px;
  height: 52px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.productspage .product-frame .button-sections .enterBoxes .enter-boxs {
  width: 663px;
  height: 114px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.productspage .product-frame .button-sections .buttom-second {
  width: 293.715px;
  height: 62.244px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 9px;
  background: #fc6b3f;
  color: #fff6da;
  font-family: "Bebas Neue";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* ============================= */
.productspage .adress {
  width: 100%;
  height: auto;
}

.productspage .adress .adress-area {
  width: 100%;
  height: 701px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productspage .adress .adress-area .title-adress {
  font-family: "Roboto Serif";
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(52, 52, 52);
}

.productspage .product-frame .product-butt-img .butt-swiper-box .no-data {
  width: 100%;
}

.productspage .product-frame .product-butt-img .butt-swiper-box .no-data {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #e3c08d;
}

/** ChosenProduct **/

.productspage .chosen-product .chosen-product-sl {
  margin-top: 50px;
  width: 80%;
  height: 1100px;

  display: flex;
  justify-content: center;

  /* background: #fefdfd; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 16px;
}

.productspage .chosen-product .chosen-product-sl .swiper-area {
  margin-top: 20px;
  --swiper-navigation-color: #cdcccc;
  --swiper-pagination-color: #cdcccc;
  width: 100%;
  height: 750px;
}

.productspage .chosen-product .chosen-product-sl .swiper-area .slider-image {
  width: 100%;
  height: 100%;
}

.productspage .chosen-product .chosen-product-sl .pr-name-box {
  margin-top: 30px;
  color: #000;
  text-align: center;
  font-family: "Work Sans";
  font-size: 40.876px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.283px;
}

.productspage .chosen-product .chosen-product-sl .cost-view {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 140px;
}

.productspage .chosen-product .chosen-product-sl .cost-view .view-sold {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.productspage
  .chosen-product
  .chosen-product-sl
  .cost-view
  .view-sold
  .sold-count {
  color: #000;
  font-size: 15.451px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.productspage
  .chosen-product
  .chosen-product-sl
  .cost-view
  .view-sold
  .sold-count
  .sold-counts {
  color: #000;
  font-size: 17.451px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.productspage .chosen-product .chosen-product-sl .cost-view .cost-box {
  margin-bottom: 50px;
  color: #000;
  font-family: "Work Sans";
  font-size: 27.451px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.productspage .chosen-product .chosen-product-sl .cost-view .view-box {
  font-size: 10px;
  min-width: 18px;
  height: 18px;
  border-radius: 9px;
  right: -2px;
}

.productspage .chosen-product .chosen-product-sl .buttom-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productspage .chosen-product .chosen-product-sl .buttom-box .icon-icon {
  margin-top: 50px;
  font-size: 50.726px;

  color: #000;
}

.productspage .chosen-product .chosen-product-sl .buttom-box .adding-box {
  background-color: var(--swiper-navigation-color);
}

.productspage .chosen-product .chosen-product-sl .buttom-box .button-title-box {
  color: #000;
  text-align: right;
  font-family: "Work Sans";
  font-size: 23.726px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.productspage .chosen-product .chosen-product-sl .buttom-box .image-box {
  margin-top: 80px;
  width: 282.517px;
  height: 282.517px;
  background: url("/public/img/Nike.ico") #fefdfd 50% / cover no-repeat;
}
