.productspage {
  width: 100%;
  height: auto;
}

.productspage .product-frame {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  /* background: rgb(238, 238, 238); */

  background: linear-gradient(
    180deg,
    rgba(255, 246, 218, 0) 0%,
    #fff6da 69.79%
  );
  background-size: cover;
}

.productspage .product-frame .main {
  margin-top: 60px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productspage .product-frame .main .top-title-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.productspage .product-frame .top-title-input .title {
  font-family: " Roboto Serif";
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;

  color: rgb(52, 52, 52);
}

.productspage .product-frame .top-title-input .input-butt-box {
  margin-left: 17%;
  width: 360px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-radius: 18.5px;
  box-shadow: 0px 4px 4px 0px rgba(213, 213, 213, 0.25);
  background: rgb(255, 252, 252);
}

.productspage .product-frame .input-butt-box .searching-button {
  width: 106px;
  height: 40px;
  border-radius: 18.5px;

  background: rgb(52, 52, 52);
}

.productspage .product-frame .product-butt-img {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.productspage .product-frame .product-butt-img .top-butt-box {
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.productspage .product-frame .product-butt-img .butt-swiper-box {
  margin-top: 40px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.productspage .product-frame .butt-swiper-box .left-butt-box {
  margin-top: 60px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productspage .product-frame .left-butt-box .rotate {
  transform: rotateZ(-0.25turn);
}

.productspage .product-frame .butt-swiper-box .wrap-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.productspage .product-frame .product-img-box .full-img-box {
  width: 273px;
  height: 361px;
}

.productspage .product-frame .full-img-box .image-box {
  width: 100%;
  height: 275px;
  border-radius: 0px 50px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

.productspage .product-frame .full-img-box .product-sale {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  z-index: 100;
  width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff9200;
  box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 21px;
  color: #f8f8ff;
}

.productspage .product-frame .full-img-box .image-box .view-basket-box {
  margin-top: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.productspage .product-frame .view-basket-box .shop-basket {
  margin-right: 30px;
  margin-left: 30%;
  width: 64px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgb(198 0 255 / 66%);
  border: 2px solid #d7b686;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  color: #f8f8ff;
}

.productspage .product-frame .image-box:hover {
  opacity: 0.8;
}

.productspage .product-frame .image-box:hover .shop-basket {
  opacity: 1;
}

.productspage .product-frame .image-box:hover .view-bnt {
  opacity: 1;
}

.productspage .product-frame .view-basket-box .view-bnt {
  width: 35px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.productspage .product-frame .imgage-title-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.productspage .product-frame .imgage-title-box .prd-name {
  margin-top: 5px;

  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: rgb(52, 52, 52);
}

.productspage .product-frame .imgage-title-box .product-cost {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Poppins";
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(227, 192, 141);
}

.productspage .product-frame .main .pagination {
  margin-bottom: 50px;
}

.productspage .product-frame .main .pagination .pagination-num .Mui-selected {
  background: red;
  color: #fff;
}

.productspage
  .product-frame
  .main
  .pagination
  .pagination-num
  .MuiPaginationItem-root {
  font-size: 17px;
}

.productspage .product-frame .burak-img {
  width: 100%;
  height: 630px;
  background: rgb(13, 21, 24);
}

.productspage .burak-img .main-burak-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productspage .burak-img .title-burak-box {
  margin-top: 50px;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  color: rgb(227, 192, 141);
}

.productspage .burak-img .br-img-boxes {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.productspage .burak-img .br-img-boxes .burak-card {
  margin-top: 50px;
  width: 258.78px;
  height: 350px;
  border-radius: 20px;

  box-shadow: 0px 0px 22px 0px rgb(228, 212, 212);
  background: rgb(13, 21, 24);
}

.productspage .burak-img .br-img-boxes .burak-card .burak-img-card img {
  width: 258px;
  height: 347.69px;
  border-radius: 16px;

  background-repeat: no-repeat;
  background-size: contain;
}

.productspage .adress {
  width: 100%;
  height: auto;
}

.productspage .adress .adress-area {
  width: 100%;
  height: 701px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productspage .adress .adress-area .title-adress {
  font-family: "Roboto Serif";
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(52, 52, 52);
}

.productspage .product-frame .product-butt-img .butt-swiper-box .no-data {
  width: 100%;
}

.productspage .product-frame .product-butt-img .butt-swiper-box .no-data {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #e3c08d;
}

/** ChosenProduct **/

.productspage .chosen-product {
  position: relative;
  width: 100%;
  height: auto;
  background: #f8f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productspage .chosen-product .product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 150px;
}

.productspage .chosen-product .chosen-product-slider {
  width: 48%;
  height: 480px;
  background: #ffffff;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  overflow: hidden;
}

.productspage .chosen-product .chosen-product-slider .swiper-area {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
  width: 100%;
  height: 1020px;
}

.productspage
  .chosen-product
  .chosen-product-slider
  .swiper-area
  .slider-image {
  width: 100%;
  height: 100%;
}

.productspage .chosen-product .chosen-product-info {
  padding: 30px 40px;
  width: 49%;
  height: 480px;
  display: flex;
  background: #ffffff;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.productspage .chosen-product .chosen-product-info .info-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.productspage .chosen-product .info-box .product-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.productspage .chosen-product .info-box .resto-name {
  margin-top: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 15px;
  color: #979797;
}

.productspage .chosen-product .info-box .rating-box {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.productspage .chosen-product .rating-box .star-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.productspage .chosen-product .rating-box .evaluation-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.productspage .chosen-product .rating-box .evaluation-box .product-view {
  display: flex;
  align-items: center;
}

.productspage .chosen-product .info-box .product-desc {
  height: 112px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.productspage .chosen-product .info-box .product-price {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.productspage .chosen-product .product-price span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
  color: #000000;
}

.productspage .chosen-product .button-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productspage .chosen-product .button-box button {
  width: 230px;
  height: 44px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #f8f8ff;
}

.productspage .chosen-product .title {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  margin-top: 40px;
}
